html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
}

button,
input,
textarea,
select {
  font: inherit;
}

img,
svg,
canvas {
  display: block;
  max-width: 100%;
}
